<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Digital Clouds{% endblock %}</title>

    <link href="{{ asset('bundles/app/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/jBox.all.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/style.css')}}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
            <div class="card">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('performer_index') }}">Исполнители</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('task_index') }}">Задачи</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="row">
                      {% block body %}
                         {% for flash in app.session.flashbag.get('error') %}
                             <div class="alert alert-warning">{{ flash }}</div>
                         {% endfor %}    
                      {% endblock %}  
                  </div>
              </div>               
            </div> 
    </div>
                  
    <div id="addTask" class="modal" tabindex="-1" role="dialog">
      <div id="Modal" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление задачи</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modal-body" class="modal-body">
            <div class="col-sm-9">  
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Название</label>
                    </div>
                    <input type="text" id="taskName" class="form-control" required="required">  
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Исполнитель</label>
                    </div>
                    <select class="form-control custom-select" id="taskPerformer"></select>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Статус</label>
                    </div>    
                    <select class="form-control custom-select" id="taskStatus"></select>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Описание</label>
                    </div>      
                    <input type="text" id="taskDescription" class="form-control" required="required">  
                </div>
            </div>  
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-success" onclick="saveNewTask();">Сохранить</button>
          </div>
        </div>
      </div>
    </div>  
                
    <div id="addTask" class="modal" tabindex="-1" role="dialog">
      <div id="Modal" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление задачи</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modal-body" class="modal-body">
            <div class="col-sm-9">  
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Название</label>
                    </div>
                    <input type="text" id="taskName" class="form-control" required="required">  
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Исполнитель</label>
                    </div>
                    <select class="form-control custom-select" id="taskPerformer"></select>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Статус</label>
                    </div>    
                    <select class="form-control custom-select" id="taskStatus"></select>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                       <label class="input-group-text required">Описание</label>
                    </div>      
                    <input type="text" id="taskDescription" class="form-control" required="required">  
                </div>
            </div>  
          </div>
            
            <div id="infoTask" class="card">
              <div class="card-body">
                <h5 id="card-title" class="card-title"></h5>
                <p class="card-text">Нажмите кнопку для возврата в меню задач</p>
                <a href="" class="btn btn-success">Кнопка</a>
              </div>
            </div>

                  
    <script src="{{ asset('bundles/app/js/jquery-3.4.0.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/main.js')}}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/popper.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/jBox.all.min.js')}}"></script>
  </body>
</html>
