<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Digital Clouds{% endblock %}</title>

    <link href="{{ asset('bundles/app/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/jBox.all.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/style.css')}}" rel="stylesheet">
  </head>

  <body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('performer_index') }}">Исполнители</a></li>
                    <li class="list-inline-item"><a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('task_index') }}">Задачи</a></li>
                </ul>
            </div>
        </div>
                
        {% for flash in app.session.flashbag.get('error') %}
            <div class="alert alert-warning">{{ flash }}</div>
        {% endfor %}
        
        <div class="row">
            <div class="col-sm">
            {% block body %}
                    {% for flash in app.session.flashbag.get('error') %}
            <div class="alert alert-warning">{{ flash }}</div>
            {% endfor %}    
            {% endblock %}  
            </div>
        </div>
    </div>
            
    <div id="addTask" class="modal" tabindex="-1" role="dialog">
      <div id="Modal" class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление задачи</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modal-body" class="modal-body">
            <div>  
                <label class="required">Название</label>
                <input type="text" id="taskName" required="required">  
            </div>
            <div>  
                <label class="required">Исполнитель</label>
                <select id="taskPerformer"></select>
            </div>
            <div>  
                <label class="required">Статус</label>
                <select id="taskStatus">
{#                    <option value="1" selected="selected">Открыта</option>
                    <option value="2">В работе</option>
                    <option value="3">Закрыта</option>#}
                </select>
            </div>
            <div>  
                <label class="required">Описание</label>
                <input type="text" id="taskDescription" required="required">  
            </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" onclick="saveNewTask();">Сохранить</button>
          </div>
        </div>
      </div>
    </div>  
    
    <script src="{{ asset('bundles/app/js/jquery-3.4.0.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/main.js')}}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/popper.min.js')}}"></script>
    <script src="{{ asset('bundles/app/js/jBox.all.min.js')}}"></script>
  </body>
</html>
