{% extends '@App/main.html.twig' %}

{% block body %} 
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Должность</th>
                <th scope="col">Действие</th>
              </tr>
            </thead>
            <tbody>
            {% for performer in performers %}   
              <tr id="removePerf_{{performer.id}}">
                <td scope="row" >{{ performer.id }}</td>
                <td>{{ performer.name }}</td>
                <td>{{ performer.position }}</td>
                <td>
                    <a href="" onclick="removePerformer({{ performer.id }}); return false;">Удалить</a>
                    /
                    <a href="{{ path('edit_performer', {id: performer.id}) }}" >Редактировать</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('add_performer') }}">Добавить</a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
